.container {
  display: flex;
  justify-self: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 1.2rem;
  max-width: 997px;
  margin: 0 auto;
}
.title {
  margin: 60px 0 auto;
  margin-bottom: 80px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--color-purple);
}
.description {
  display: flex;
  flex-direction: column;
  margin-top: -62px;
  border-bottom: 2px solid var(--color-purple);
  border-radius: 4px;
  background: linear-gradient(
    1turn,
    rgba(17, 15, 12, 0.9),
    rgba(16, 14, 12, 0.515625) 57%,
    rgba(14, 13, 12, 0)
  );
}

.description p {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
.description span {
  color: #b9b9ca;
  text-align: center;
}
.dividir {
  margin-top: 6rem;
  border-top: 10px solid var(--color-orange);
}
.card img {
  opacity: 1;
  transform: none;
  width: 258px;
  object-fit: cover;
  height: 300px;
  border: 2px solid var(--color-purple);
  border-radius: 8px;
}
.card {
  display: grid;
  cursor: pointer;
}

@media (max-width: 600px) {
  .title {
    font-size: 1rem;
    font-weight: bold;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 0.9rem;
    font-weight: bold;
  }
}
