.cardContainer {
  background: var(--color-card-background);
  color: var(--color-card-title);
  border: 1px solid #e1e3e6;
  border-radius: 0.313rem;
  width: 28rem;

  margin-right: 8rem;
  text-align: center;
  padding: 2.875rem 1.625rem;
  margin-top: 20px;
}

.cardContainer img {
  border-radius: 50%;
  border: 0.25rem var(--color-secondary) solid;
  width: 8rem;
  height: 8rem;
  margin-bottom: 1.5rem;
}

.cardContainer h2 {
  font-family:  'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.875rem;
  margin-bottom: 3.875rem;
}

.cardContainer p {
  margin-bottom: 1.75rem;
  font-family:  'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
