 .cards{
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 26px;
  color: black;
  min-height: 308px;
}


#nome {
  color: black;
  align-items: center;
}

.card{
  background-color: var(--color-roxo);
  display: grid;
  cursor: pointer;
  border: 1px solid gray;
  margin-top: 20px;
  height:200px;
  width:250px;
  border-radius:4px;
}
