.forms {
  margin: 0 auto;
  background-color: white;
  min-height: 220px;
  border-bottom: 10px solid var(--color-orange);
  margin-top: 4rem;
}

.form {
  max-width: 967px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  padding-top: 35px;
}

#select {
  height: 33px;
  border: 1px solid #c1bccc;
  box-sizing: border-box;
  border-radius: 4px;
  display: grid;
  font-size: 0.9rem;
  width: 100%;
  background-color: white;
}

#label {
  color: var(--color-purple);
  font-weight: bold;
  display: grid;
  text-align: left;
  padding-bottom: 2px;
}

/*===== BUSCAR PESSOAS ======*/
.btnBuscarPessoas {
  background-color: #8257e5;
  border-radius: 4px;
  border: 0;

  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #ffffff;
  transition: 0.2s;
  margin-top: 17px;
}

.btnBuscarPessoas:hover {
  filter: brightness(0.9);
}

@media (max-width: 1000px) {
  .form {
    padding: 2rem;
  }
}

@media (max-width: 500px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
  }
  .btnBuscarPessoas {
    height: 40px;
  }
}
