.aboutUsContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 600px;
  height: 100%;
  margin: 40px auto;
}

.image img {
  width: 30em;
 margin-right: 40px;
  margin: 60px auto;
}
