.card1{
  text-align: center;
  margin-top: 51px;
}

.card1 h1{
  margin-bottom: 1rem;
}

.card1 p{
  color: var(--color-card-title);
  width:800px;
  text-align: center;
  margin: 0 auto;

}
.card1 h3{
  margin: 1.4rem;
  color: var(--color-orange);
}
.buttonDescription{
  margin: 0 auto;
  width: 967px;


}
.description{

  text-align: left;
  display: inline-block;
}
.buttonDescription p{
  width:230px;

  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 4px;
  color: var(--color-purple);
  font-weight: bold;
  font-size: 1.4rem;
  background: white;
  text-align: center;
  margin-top: 2rem;


}
