/* ==== main ======*/
.containerMain {
  flex: 1;
}

.separator {
  height: 1px;
  background-color: red;
  margin: 1rem 0;
  background-color: #e1e3e5;
}

#light {
  background-color: #e1e3e5;
}

/* basic classes */
.container {
  width: min(976px, 90vw);
  margin: 0 auto;
  height: 100%;
  display: flex;
}

.pageProfile .pageHeader ~ .container {
  display: flex;
}
/* ==== page-header ======*/

.pageHeader {
  background: var(--color-primary);
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

#inner {
  height: 5.5rem;
  margin-bottom: 4rem;
}

#inner .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#inner h1 {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--color-header-inner-title);
}
/* ==== button ======*/
.button {
  padding: 0.5rem 1rem;
  border-radius: 0.313rem;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button {
  line-height: 1.5rem;
}

/* ==== form ======*/
.formProfile fieldset {
  border: none;
  margin-top: 60px;
}

.formProfile fieldset + fieldset {
  margin-top: 1rem;
}
.formProfile:first-child {
  padding-top: 30px;
}

.formProfile fieldset legend {
  color: var(--color-purple);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.625rem;
}

.formProfile label {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #787880;

  margin-bottom: 1rem;
}

.dividirForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputWrapper span {
  padding-bottom: 10px;
  font-weight: bold;
  color: black;
}
.inputWrapper p {
  border: 1px solid#E1E3E5;
  padding: 1rem;
  border-radius: 4px;
  font-size: 0.8rem;
  color: gray;
}

/* ==== profile ======*/
.card {
  margin-top: 6.5rem;
  background: var(--color-card-background);
  color: var(--color-card-title);
  border: 1px solid #e1e3e6;
  border-radius: 0.313rem;
  width: 24rem;
  margin-right: 4rem;
  text-align: center;
  padding: 2.875rem 1.625rem;
}

.card > img {
  border-radius: 50%;
  border: 0.25rem var(--color-secondary) solid;
  width: 7rem;
  height: 7rem;
  margin-bottom: 1.5rem;
}

.card h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.875rem;
  margin-bottom: 2.5rem;
}
.card p {
  margin-bottom: 1.75rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.buttonProfile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.buttonProfile:last-child img {
  width: 1.4rem;
  border: 0;
  margin: 0;
  padding: 0;
  height: 35px;
}
.buttonProfile a {
  margin: 0;
  padding: 0;
  height: 0px;
}

.buttonProfile button {
  margin-top: 0;
  padding: 0;
  height: 35px;
}

@media (max-width: 830px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .containerMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 830px) {
  .card {
    width: 100%;
    margin-bottom: 2rem;
  }
}
