/* ==== tela Cadastre-se*/
.telaRegister{
    display: grid;
    padding-top: 4rem;
    grid-template-columns: 1fr 1fr;
    margin: 60px auto;
    justify-items: center;
    min-height: 480px;
    height: 100%;
    width: 880px;
    gap: 8rem;
}
/* ==== banner de Cadastre-se*/
.imglogo h1{
    color: var(--color-purple);
    padding-bottom: 3rem;
    font-size: 41px;
    font-weight: bold;
    text-align: center;

}
.telaRegister img{
    align-items: center;
    width: 20em;
}
/* ==== form de Cadastre-se*/

.formRegister{
  background-color: white;
  border-radius: 6px;
  height: 410px;
  width: 380px;

}
.formRegister ::placeholder{
font-size: 12px;
color: var(--color-card-label);
}
.formRegister img {
    display: grid;
    width: 17em;
    margin: 18px auto;
    margin-bottom: 2.8rem;
}

.formRegister fieldset{
    margin: 20px;
    border: 0;
}
.formRegister fieldset span{


    color: var(--color-orange);
}
.formRegister hr{
    margin-top:2px;
    border:1px solid#E1E3E5;

}
.inputBlock input{
    width: 100%;
    line-height: 20px;
    color: black;
    margin-top:15px;
    height: 35px;
    border:1px solid#E1E3E5;
    border-radius: 4px;
    padding-left: 4px;
    font-size: 14px;

}
.inputBlock input:focus{
    display: inline-block;
    box-shadow: 0 0 0 1px var(--color-purple);
    border-radius: 4px;

}

.btncadastrar button{
    background-color: var(--color-purple);
    width: 100%;
    height: 35px;
    margin-top: 15px;
    border: 0;
    border-radius: 4px;
    filter: 100ms;
}
.btncadastrar button a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;

}
.btncadastrar button:hover{
    filter: brightness(0.9)
}
.formRegister fieldset p{
    color: gray;
    text-align: center;
    padding-top: 15px;
    font-size: 0.9rem;
}
.formRegister fieldset p a{
    color: var(--color-orange);
    font-size: 0.9rem;
}
.formRegister fieldset p a:hover{
    filter: brightness(0.9);
    cursor: pointer;
}
