.imagem img{
    display: flex;  
    width: 50em;      
    float: left;
}

.container{
    min-height: 600px;
    height: 100%;
}

.textosn{
    color:black;
    margin-right: 50px;
    padding: 100px;
    text-align: justify;
    line-height: 25px;
    font-family: alegreya;
    /* font-weight: bold; */
    display:flex;
	justify-content:space-around;
}


  