@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #F0F2F5;
  --color-text: #FCFDFF;
  --color-primary: #41414C;
  --color-secondary: #F1972C;
  --color-secondary-hover: #FA9C2D;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-hairline-in-dark: #4F4F5B;
  --color-hairline-in-light: #E1E3E5;
  --color-card-background: var(--color-text);
  --color-card-title: #5A5A66;
  --color-card-label: #BFBFCC;
  --color-card-content: #787880;
  --color-cancel: #E1E3E5;
  --color-delete: #EB3B35;
  --color-save: #36B336;
  --color-badge-progress-text: var(--color-save);
  --color-badge-progress-background: #E8F8E8;
  --color-badge-done-text: var(--color-delete);
  --color-badge-done-background:#FAECEB;
  --color-header-inner-title: var(--color-card-label);
  --color-background: #f2f3f5;
  --color-orange: #ff9a00;
  --color-purple: #8257e5;
  --color-purple-hover:#6b35e9;

}
html,
body, #root{
  width: 100%;

}
@media (max-width: 1080px){
  html{
    font-size: 93.75%;
  }
}
  @media (max-width: 720px){
    html{

       font-size:87.5%;
  }
}


header {
  height: 80px;
  background-color: white;
  border-bottom: 6px solid var(--color-orange);
}
.logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 72px;
  margin-left: 1rem;
  cursor: pointer;
}


body {
  background: var(--color-background);
  -webkit-font-smoothing: antialiased !important;
}


body, input, textarea, button{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 strong{
  font-weight: 600;
}

button {
  cursor: pointer;
}

[disabled]{
  opacity:0.6;
  cursor: not-allowed;

}
