
/* ===== card ====*/
.perfil{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding-bottom: 20px;
  padding-top:10px;
  
  }
  .perfilIdade{
    padding-right:40px;
  }
  
  .perfil h1{
    padding-top: 10px;
    font-size: 18px;
  }
  .perfil img{
    width: 4.5em;
    padding: 2px;
    border: 2px solid var(--color-orange);
    border-radius: 50%;
  }
  .perfil p{
    font-size: 14px;
    color:black;
    font-weight: bold;
  
  
  }
  
  .cards {
    max-width: 800px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 26px;
    color: gray;
  }
  
  .card {  
    background-color: white;
    display: grid;
    cursor: pointer;
    border: 1px solid rgb(170, 165, 165);
    margin-top: 20px;
    height: 220px;
    width: 250px;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
  }
  
  
  .card span {
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 25px;
    font-size: 14px;
  
  }
  
  
  .card h1{
    color: black;
    font-weight: bold;
  }
.btn_verPefil {
  margin-top:30px;
  background-color: white;
  height: 28px;
  padding: 3px;
  font-size: 13px;
  width: 200px;
  border: 0;
  border-radius: 4px;
  transition: 700ms;
  border: 2px solid var(--color-purple);
}

.btn_verPefil a {
  color: var(--color-purple);
  text-decoration: none;
  font-weight: bold;
}

.btn_verPefil a:hover {
  color: rgb(38, 116, 189);
}
