.card {
  background-color: white;
  display: grid;
  cursor: pointer;
  /* border: 1px solid rgb(170, 165, 165); */
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  height: 230px;
  width: 230px;

  border-radius: 20px;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

.card h1 {
  color: black;
  font-weight: bold;
}

.perfil {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-items: center;
  text-align: left;
}

.perfil img {
  margin-top: 15px;
  width: 5em;
  height: 5em;
  padding: 2px;
  margin-left: 20px;
  border: 2px solid var(--color-orange);
  border-radius: 50%;
}

.perfil h1 {
  padding-top: 10px;
  font-size: 1rem;
}

.perfil p {
  font-size: 12px;
  color: var(--color-card-title);
  font-weight: bold;
}

.verPerfil {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 10px;
}
.verPerfil a {
  padding-top: 4px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: var(--color-purple);
}

.cardContent {
  display: flex;
  height: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContent span {
  font-size: 0.7rem;
  padding: 0 4px 4px 4px;
  height: 50px;
}
.cardContent p {
  margin: 0 auto;
}

.btnAceitar {
  background-color: var(--color-button-green);
  height: 25px;
  padding: 3px;
  font-size: 13px;
  width: 100px;
  border: 0;
  border-radius: 4px;
  transition: 700ms;
  margin-right: 8px;
  margin-top: 22px;
}

.btnAceitar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.btnAceitar:hover {
  filter: brightness(0.9);
}

/*== button Cancelar*/
.btnCancelar {
  height: 25px;
  background-color: #e83f5b;
  padding: 3px;
  font-size: 13px;
  width: 100px;
  border: 0;
  border-radius: 4px;
  transition: 700ms;
}

.btnCancelar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 200ms;
}

.btnCancelar:hover {
  filter: brightness(0.9);
}
