
.links{
  font-size: 22px;
  text-align: center;
  padding-top: 40px;
  height: 100px;
  background-color: white;
}

/*color margin so no ultimo elemento*/
.links a + a{
  margin-left: 32px;

}
.links a{

  text-decoration: none;
  color: #777;
  position: relative;
}
.links a.active{
  font-weight: bold;
  color: var(--color-purple);
}

.links a:hover{
  color: var(--color-purple);
}

/*pseu do elemento*/
.links a::after{
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-purple);
  position: absolute;
  left:0;
  bottom: -4px;

}

/*efeito de transição com pseu do elemento*/
.links a:hover::after{
  width: 100%;
  transition: width 700ms ease-in-out;

}
