@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

}
.navbar{
  display: flex;
  justify-content: space-between;
  width: 976px;
  margin: 0 auto;
}
.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  transition: 200ms;
}
.contaPerfil,.conta{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: 200ms;
}
.conta, .navMenu{
  gap: 3rem;
}

.navMenu a:hover, .conta a:hover{
  color: rgb(94, 91, 91);
  filter:brightness(90%);
}
.conta a, .navMenu a {
  text-decoration: none;
  padding: 8px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #777;
  padding:0 0 0 0;
  position: relative;

}


/*pseu do elemento*/
.container  .conta a::after, .navMenu a::after{
  content: "";
  width: 0;
  display: flex;
  height: 2px;
  background-color: var(--color-secondary-hover);
  position: absolute;
  left:0;
  bottom: -1.3rem;

}

/*efeito de transição com pseu do elemento*/
.container .contaPerfil a:hover::after, .conta a:hover::after, .navMenu a:hover::after{
  width: 100%;
  transition: width 700ms ease-in-out;

}

