@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 750px;

}
.containerHeader .menu a {
  text-decoration: none;
  padding: 8px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #777;
  padding:0 0 0 0;
  position: relative;

}

/*pseu do elemento*/
.containerHeader .menu a::after{
  content: "";
  width: 0;
  display: flex;
  height: 2px;
  background-color: var(--color-orange);
  position: absolute;
  left:0;
  bottom: -4px;

}

/*efeito de transição com pseu do elemento*/
.containerHeader .menu a:hover::after{
  width: 100%;
  transition: width 700ms ease-in-out;

}

/*
 * avatar
/* -------------------------------------------------- */
.perfil{
display: flex;
justify-content: center;
flex-direction: row;
}
#avatarProfile {
  display: flex;
  align-items: center;
  color: var(--color-white);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-align: right;
}

#avatarProfile p {
  font-size: 1rem;
  margin-right: 1rem;

}

#avatarProfile span {
  display: block;
  color:var(--color-purple);
  font-weight: bold;
  text-align: center;
  font-size: 0.7rem;

}

#avatarProfile p span:hover {
  text-align: center;
  filter: brightness(0.9);
}

#avatarProfile img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.156rem solid #F1972C;
}

/* ===========  Minha conta =================== */
