@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 750px;
 
}
.containerHeader .menu a {
  text-decoration: none;
  color: gray;
  padding: 8px;
  font-size: 18px;

}

.containerHeader .menu a:hover {
  background-color: var(--color-orange);
  color: white;
}
/*color margin so no ultimo elemento*/

.containerHeader .menu  a{

  text-decoration: none;
  color: #777;
  position: relative;
}


/*pseu do elemento*/
.containerHeader .menu a::after{
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-orange);
  position: absolute;
  left:0;
  bottom: -4px;

}

/*efeito de transição com pseu do elemento*/
.containerHeader .menu a:hover::after{
  width: 100%;
  transition: width 700ms ease-in-out;

}

/* 
 * avatar
/* -------------------------------------------------- */

#avatarProfile {
  display: flex;
  align-items: center;
  color: var(--color-white);
  text-decoration: none;

  font-family: IBM Plex Sans;
  text-align: right;
}

#avatarProfile p {
  margin-top: 16px;
  font-size: 1.25rem; /* 20px of 16px root*/
  /*line-height: 1.875rem; 30px of 16px root*/
  margin-right: 1rem;

  font-weight: 600;
}

#avatarProfile span {
  display: block;
  color:var(--color-orange);
  text-align: center;
  font-weight: normal;
  font-size: 0.875rem; /* 14px of 16px root*/
  /*line-height: 1.5rem; 24px of 16px root*/

  font-weight: 400;
}

#avatarProfile p span:hover {
  text-decoration: underline;
  text-align: center;

  color:var(--color-secondary);
}

#avatarProfile img {
  width: 2.5rem; /* 64px of 16px root*/
  height: 2.5rem; /* 64px of 16px root*/
  border-radius: 50%;
  border: 0.156rem solid #F1972C; /* 2.5px of 16px root*/
}

/* ===========  Minha conta =================== */
