.footerContainer {
  background: var(--color-orange);
  color: white;
  border: 0;
  height: 15vh;
  line-height: 15vh;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}


/*Resposividade*/
@media (max-width: 900px){
  .footerContainer{
    width: 100%;
  }

}

@media (max-width: 600px){
  .footerContainer{
    font-size: 0.9rem;
  }

}

@media (max-width: 400px){
  .footerContainer{
   font-size: 0.8rem;
  }

}
