.button {
  background-color: white;
  height: 28px;
  padding: 3px;
  font-size: 13px;
  width: 150px;
  border: 0;
  border-radius: 10px;
  transition: 700ms;
  border: 2px solid var(--color-purple);
}

.button a {
  align-items: center;
  text-align: center;

  color: var(--color-purple);
  text-decoration: none;
  font-weight: bold;
}

.button a:hover {
  filter:brightness(90%);
}
